<a href="https://colab.research.google.com/github/RajatSharan/Selenium-Webdriver-with-PYTHON-from-Scratch-Frameworks/blob/main/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# in and not in operator

3 in [1,2,3,4,5,8]

True

In [ ]:
3 in [1,2,4,5,8]

False

In [ ]:
3 not in [1,2,4,5,8]

True

In [ ]:
"R" in "Rajat"

True

In [ ]:
#control Statment

age=int(input("Please enter the age"))
if age>=18:
  print("Age is elgiable for vote")
else:
  print("Age is not elgible for vote")

Please enter the age23
Age is elgiable for vote

In [ ]:
a=30
b=20
c=40

if a>b:
  if a>c:
    print("a is greater than b")
  else:
    print("b is biggest number")
elif b>a:
  print("b is biggest number")
else:
  print("c is biggest number")

b is biggest number

In [ ]:
for i in [1,2,3,4,5,6,7,8,10]:
  print(i)

1
2
3
4
5
6
7
8
10

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(20,0,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(20,0,1):
  print(i)

In [ ]:
for i in range(20,5,-2):
  print(i)

20
18
16
14
12
10
8
6

In [ ]:
for i in range(20,0,-2):
  print(i,end=",")

20,18,16,14,12,10,8,6,4,2,

In [ ]:
for i in range(20,0,-2):
  print(i,end=" ")

20 18 16 14 12 10 8 6 4 2

In [ ]:
for i in range(20,0,-2):
  print(i,end=",")

20,18,16,14,12,10,8,6,4,2,

In [ ]:
for i in range(20,0,-2):
  print(i,end=",")

20,18,16,14,12,10,8,6,4,2,

In [ ]:
i=10
if i>5:
  print(i)

10

In [ ]:
for i in range(20,1,-2):
  print(i,end=",")

20,18,16,14,12,10,8,6,4,2,

In [ ]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10):
  if i==5 or i==8:
   continue
  print(i)

0
1
2
3
4
6
7
9

In [ ]:
# List in Python
list=[10,20,30,40]
print(type(list))

<class 'list'>

In [ ]:
lst=[10,20,30,40]
print(lst[-1])

40

In [ ]:
ar=["rajat",[10,20,30,40,50]]
print(ar[1])
print(ar[1][3])
print(ar[1][-1])

[10, 20, 30, 40, 50]
40
50

In [ ]:
str=input("Enter the value")
print(str)

Enter the value34
34

In [ ]:
str=eval(input("Enter the value"))
print(str)

Enter the value10,20,30,40
(10, 20, 30, 40)

In [ ]:
list=[*range(0,5,2)] #unpacked list
print(list)

[0, 2, 4]

In [ ]:
list=[range(0,5,2)] #packed list
print(list)

[range(0, 5, 2)]

In [ ]:
sen="My name, is Rajat Sharan"
lst=sen.split()
print(lst)

['My', 'name,', 'is', 'Rajat', 'Sharan']

In [ ]:
sen="My,name,is,Rajat,Sharan"
lst=sen.split(',')
print(lst)

['My', 'name', 'is', 'Rajat', 'Sharan']

In [ ]:
#Slicing in Python
sen=['a','b','c','d','e','j']
print(sen[2:4])

['c', 'd']

In [ ]:
#Slicing in Python
sen=['a','b','c','d','e','j']
print(sen[:5])

['a', 'b', 'c', 'd', 'e']

In [ ]:
sen=[1,2,3,4,5,6,7,8,8,9]
print(sen[1::3])

[2, 5, 8]

In [ ]:
#list Mutability
list=[1,2,3,4,5,6,7,8,10,11,12]
print(id(list))
list[4]=50
print(id(list))
print(list)

133705420742528
133705420742528
[1, 2, 3, 4, 50, 6, 7, 8, 10, 11, 12]

In [ ]:
list=[10,20,30,4,7,5,7,8]
print(len(list))
i=0
while(i<len(list)):
  print(list[i])
  i=i+1

8
10
20
30
4
7
5
7
8

In [ ]:
list=[10,20,30,4,7,5,7,8]
for e in list:
  print(e)

10
20
30
4
7
5
7
8

In [ ]:
list=[10,20,30,4,7,5,7,8]
for e in list:
  print(e,end=',')

10,20,30,4,7,5,7,8,

In [ ]:
#Add list element
list=[10,20,30,40,50,60]
total=0
for e in list:
  total=total+e
print(f'total of list {total}')

total of list 210

In [ ]:
#Add list element
list=[10,20,30,40,50,60]
total=0
for e in list:
  total=total+e
  print(f'total is {total}')

total is 10
total is 30
total is 60
total is 100
total is 150
total is 210

In [ ]:
#Find the even number from value
lit=[10,20,30,40,50,60,70]
print(lit*3) # repetition of list

[10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70]

In [ ]:
lit=["RAJAT"]
print(lit*3)

['RAJAT', 'RAJAT', 'RAJAT']

In [ ]:
sen="Welcome to JAPAN"
newSen=sen.split()
print(newSen[0:1])

['Welcome']

In [ ]:
#Even and Odd
list=10,20,30,40,55,78,76
even_count,Odd_count=0,0
for num in list:
    if num%2 ==0:
      print(f"Number is even :{num}")
    else:
      print(f"Number is Odd  :{num}")

Number is even :10
Number is even :20
Number is even :30
Number is even :40
Number is Odd  :55
Number is even :78
Number is even :76

In [ ]:
alist=[5,10,15,25]
print(alist[::-2])

[25, 10]

In [ ]:
list1=[8,0,9,5]
print(list1[::-1])

[5, 9, 0, 8]

In [ ]:
list=[10,20,30,40]
list[3]=60
print(list)

[10, 20, 30, 60]

In [ ]:
#Insert the value
list=[10,20,30]
list.insert(1,40)
print(list)

[10, 40, 20, 30]

In [ ]:
#Insert the value at the beginning
ls=[10,20,30,40]
ls.insert(-1,90)
print(ls)

[10, 20, 30, 90, 40]

In [ ]:
ls=[10,20,30,40]
ls[3:3]=[40,30]
print(ls)

[10, 20, 30, 40, 30, 40]

In [ ]:
#Delete the number from list
ls=[10,20,30,40]
del ls[2]
print(ls)

[10, 20, 40]

In [ ]:
ls=['a','b','c','d','e']
del ls[1:4]
print(ls)

['a', 'e']

In [ ]:
ls=['a','b','c','d','e']
ls.remove('a')
print(ls)

['b', 'c', 'd', 'e']

In [ ]:
ls=['a','b','c','d','e']
ls.pop()
print(ls)

['a', 'b', 'c', 'd']

In [ ]:
ls=['a','b','c','d','e']
del ls[2]
print(ls)

['a', 'b', 'd', 'e']

In [ ]:
ls=['a','b','c','d','e']
ls.pop(2)
print(ls)

['a', 'b', 'd', 'e']

In [ ]:
#count the values
ls=['a','b','c','d','e','e','e']
print(ls.count('e'))

3

In [ ]:
ls=['a','b','c','d','e','e','e']
print(ls.count(3))

0

In [ ]:
#Index postion of value
ls=['a','b','c','d','e']
print(ls.index('b'))

1

In [ ]:
#Add the new value in the list
ls=['a','b','c','d','e','f']
ls.append('N')
print(ls)

['a', 'b', 'c', 'd', 'e', 'f', 'N']

In [ ]:
ls=['a','b','c','d','e','f']
ls.reverse()
print(ls)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
ls=[10,20,30,40,6,5,7]
ls.sort()
print(ls)

[5, 6, 7, 10, 20, 30, 40]

In [ ]:
ls=[10,20,30,40,3,5,2]
ls.sort(reverse=True)
print(ls)

[40, 30, 20, 10, 5, 3, 2]

In [ ]:
lst=[2**x for x in range(10)] #List comperision
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
lst=[2+x for x in range(10)] #List comperision
print(lst)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#Clonning of list
lista=[10,20,30,40]
print(lista)
listb=lista.copy()
listb[3]=23
print(listb)

[10, 20, 30, 40]
[10, 20, 30, 23]

In [ ]:
alist=[10,20,30]
blist=[30,40,50]
print(alist+blist)

[10, 20, 30, 30, 40, 50]

In [ ]:


location_of_tajMahal=[]
location_of_tajMahal=[72.55455565,74.643545666]
print(location_of_tajMahal)
location_of_tajMahal[0]=122.3445454
print(location_of_tajMahal)

[72.55455565, 74.643545666]
[122.3445454, 74.643545666]

In [ ]:
#tuple
location_of_tajMahal=(72.55455565,74.643545666)
print(location_of_tajMahal)
location_of_tajMahal[0]=122.3445454
print(location_of_tajMahal)

(72.55455565, 74.643545666)

TypeError: ignored

In [ ]:
tup1=(10,12,13,14,15)
print(type(tup1))

<class 'tuple'>

In [ ]:
tup2=(10)
print(type(tup2))

<class 'int'>

In [ ]:
typ3=(20,10,30,"Rajat")
print(typ3[3][1])

a

In [ ]:
tup4=((20,30,40),(20,20,20),(30,40,50))
print(tup4)
print(tup4[1])

((20, 30, 40), (20, 20, 20), (30, 40, 50))
(20, 20, 20)

In [ ]:
tup5=(10,20,30,10,10,30,20)
print(tup5.count(10))

3

In [ ]:
tup6=(10,20,30,40,50,6,5)
sorted(tup6)
print(tuple(sorted(tup6,reverse=True)))

(50, 40, 30, 20, 10, 6, 5)

In [ ]:
tup7=(10,20,30,40,50,6,5)
print(min(tup7))
print(max(tup7))
print(sum(tup7))

5
50
161

In [ ]:
tup8=(10,20,30,40,50,6,5)
for a in tup8:
    print(a)

10
20
30
40
50
6
5

In [ ]:
tup8=(10,20,30,40,50,6,5)
tup9=(2,3,4,5)
print(tup8+tup9)

(10, 20, 30, 40, 50, 6, 5, 2, 3, 4, 5)

In [ ]:
tup=tuple((2*a for a in range(1,11)))
print(tup)
print(type(tup))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
<class 'tuple'>

In [ ]:
tup10=[(20,30,40),(20,20,20),(30,40,50)]

# Change the last element of tuple by 100 in list
print(tup10)
lst=[]
for tup in tup10:
    temp=tup[0:2]
    temp=temp+(100,)
    lst.append(temp)
print(lst)

[(20, 30, 40), (20, 20, 20), (30, 40, 50)]
[(20, 30, 100), (20, 20, 100), (30, 40, 100)]

In [2]:
adhno=[23232323232,343434343343]
adhno.append(594959499494)
print(adhno)

[23232323232, 343434343343, 594959499494]

In [3]:
adhno=[23232323232,343434343343,594959499494]
adhno.append(594959499494)
print(adhno)

[23232323232, 343434343343, 594959499494, 594959499494]

In [5]:
#instead of list ...set will be used ,
set={1,20,23,30}
print(set)
print(type(set))
set.add(65)
print(set)

{1, 20, 30, 23}
<class 'set'>
{65, 1, 20, 23, 30}

In [8]:
adhnoset={23232323232,343434343343}
print(type(adhnoset))
adhnoset.add(343434343343)
print(adhnoset)

<class 'set'>
{23232323232, 343434343343}

In [11]:
adhnoset={23232323232,343434343343}
print(type(adhnoset))
adhnoset[0]='343434343343'
print(adhnoset)

<class 'set'>

TypeError: ignored

In [12]:
# In sets order is not preserved
set={10,20,30,5,6,7,8}
print(set)

{20, 5, 6, 7, 8, 10, 30}

In [14]:
print(set)
set.add(43)
print(set)

{20, 5, 6, 7, 8, 10, 30}
{20, 5, 6, 7, 8, 10, 43, 30}

In [16]:
st={"Rajat",19,(20,30,40)} # hetrogenus data in set
print(st)

{'Rajat', (20, 30, 40), 19}

In [19]:
sn=set(range(5))
print(sn)

TypeError: ignored

In [23]:
#empty set

su_data={10,20,30,40}
su_data.update([60,70,80,90])
print(su_data)

{70, 40, 10, 80, 20, 90, 60, 30}

In [28]:
st1={10,20,30}
st2={60,40,50}
st1=st2.copy()
print(st1)
print(st2)
print(id(st1))
print(id(st2))

{40, 50, 60}
{40, 50, 60}
133955501443104
133955501443328

In [32]:
st1={10,20,30,40}
print(st1.pop())

40

In [34]:
st1={10,20,30,40}
st1.remove(20)
print(st1)
st1.discard(30)
print(st1)

{40, 10, 30}
{40, 10}

In [39]:
st2={10,20,30}
st3={23,65,20,10,30}
st2.issubset(st3) # all element of st2 should be present st3

True

In [43]:
st3={10,20}
st4={34,20,10,5}
st4|st3 #union
print(st3.union(st4))

{34, 20, 5, 10}

In [45]:
st3={10,20}
st4={34,20,10,5}
print(st4.intersection(st3))
print(st3 &st4)

{10, 20}
{10, 20}

In [48]:
stn={2*x for x in range(1,11)}
print(stn)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [51]:
stn={(x-1)+x for x in range(1,11)}
print(stn)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [53]:
stn={(x-1)+(x+2) for x in range(1,11)}
print(stn)

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21}

In [54]:
list=['True','False','True']
print(any(list))

True